.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border: 1px #ececec solid;
}

.header-container {
  display: flex;
}
.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-word {
  color: var(--link-color);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.header-title {
  color: var(--title-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  word-wrap: break-word;
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: Roboto;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}
.header-link-mail:hover .icon-envelope-hover {
  fill: var(--link-color);
}
.icon-envelope-hover {
  width: 16px;
  height: 12px;
  fill: var(--text-color);
  margin-right: 10px;
}
.header-link-phone:hover .icon-smartphone {
  fill: var(--link-color);
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}

.header-link-phone {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}
.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}
.header-link-phone:hover {
  color: var(--link-color);
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-overlay {
  position: absolute;
  opacity: 0;
  left: 24px;
  top: 63px;
}


.main-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button-all {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  cursor: pointer;
}
.portfolio-button-all:hover {
  background-color: var(--link-color);
  color: var(--primary-color);
}

.portfolio-button {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border: none;
  width: 100%;
  height: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
}

.portfolio-button:nth-child(2) {
  width: 112px;
}
.portfolio-button:nth-child(3) {
  width: 103px;
}
.portfolio-button:nth-child(4) {
  width: 130px;
}
.portfolio-button:hover {
  background-color: var(--link-color);
  color: var(--primary-color);
  border: none;
}
.main-images {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.main-item {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  flex-basis: calc((100% / 3) - 30px);
  margin-right: auto;
  border: 1px solid #eeeeee;
}
.main-item:hover {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px #eeeeee solid;
}
.main-img {
  margin-bottom: 20px;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
}

.main-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-right: 24px;
}

.main-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 20px;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-web {
  color: var(--link-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.footer-studio {
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.footer-title {
  color: var(--word-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03;
}
.footer-item {
  margin-top: 9px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-phone {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03;
}
.footer-links {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-links h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
}

.footer-linkslist {
  display: flex;
  gap: 10px;
}

.footer-linksitem a {
  display: block;
  padding: 12px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.footer-linksitem a .icon-instagram,
.footer-linksitem a .icon-twitter,
.footer-linksitem a .icon-facebook,
.footer-linksitem a .icon-linkedin {
  fill: var(--primary-color);
}

.footer-linksitem a:hover,
.footer-linksitem a:focus {
  background-color: var(--link-color);
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}
