.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-word {
  color: var(--link-color);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.header-title {
  color: var(--title-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  word-wrap: break-word;
}

.header-link-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}
.header-link-mail:hover .icon-envelope-hover {
  fill: var(--link-color);
}
.icon-envelope-hover {
  width: 16px;
  height: 12px;
  fill: var(--text-color);
  margin-right: 10px;
}
.header-link-phone:hover .icon-smartphone {
  fill: var(--link-color);
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}

.header-link-phone {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.header-link:hover {
  color: var(--link-color);
}

.header-link-mail:hover {
  color: var(--link-color);
}

.header-link-phone:hover {
  color: var(--link-color);
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 100%;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../img/overlay.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 4px;
}

.title-studio {
  color: var(--primary-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--title-color);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  cursor: pointer;
}

.button:hover {
  color: var(--primary-color);
  background-color: #0066cc;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button span {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.info-container {
  display: flex;
  gap: 100px;
}

.info-list {
  display: flex;
  gap: 50px;
}
.info-item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}
.info-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.info-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.info-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.info-item::before {
  content: "";
  height: 120px;
  width: 270px;
  display: block;
  background-color: var(--background-color-images);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  border-radius: 4px;
}

.information {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 50px;
  margin-bottom: 10px;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.spacialization-container {
  display: flex;
  gap: 100px;
}

.specialization-list {
  display: flex;
  gap: 30px;
}
.specialization-item p {
  position: relative;
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.specialization-div {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
  top: 1437px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.specialization {
  padding-bottom: 94px;
  background-color: #ffffff;
}

.specialization-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.team-img {
  margin-bottom: 30px;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: block;
}
.team-section-color {
  background-color: #ffffff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03;
  margin-bottom: 10px;
  text-align: center;
}

.team-description {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03;
  text-align: center;
  padding-bottom: 30px;
}
.teamsocial-list {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
  gap: 10px;
}

.teamsocial-item a {
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  display: block;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.teamsocial-item a:hover,
.teamsocial-item a:focus {
  background-color: var(--link-color);
  border-radius: 50%;
}

.teamsocial-item a:hover .icon-instagram,
.teamsocial-item a:hover .icon-twitter,
.teamsocial-item a:hover .icon-facebook,
.teamsocial-item a:hover .icon-linkedin,
.teamsocial-item a:focus .icon-instagram,
.teamsocial-item a:focus .icon-twitter,
.teamsocial-item a:focus .icon-facebook,
.teamsocial-item a:focus .icon-linkedin {
  fill: var(--primary-color);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container h2 {
  margin-bottom: 50px;
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item a {
  border-radius: 4px;
  border: 1px solid var(--text-color);
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  display: block;
}

.icon-Ya-Co,
.icon-company,
.icon-company-2,
.icon-foster-peters,
.icon-brand,
.icon-company-3 {
  width: 106px;
  height: 60px;
  fill: var(--text-color);
}

.clients-item a:hover .icon-Ya-Co,
.clients-item a:hover .icon-company,
.clients-item a:hover .icon-company-2,
.clients-item a:hover .icon-foster-peters,
.clients-item a:hover .icon-brand,
.clients-item a:hover .icon-company-3,
.clients-item a:focus .icon-Ya-Co,
.clients-item a:focus .icon-company,
.clients-item a:focus .icon-company-2,
.clients-item a:focus .icon-foster-peters,
.clients-item a:focus .icon-brand,
.clients-item a:focus .icon-company-3 {
  fill: var(--link-color);
}

.clients-item a:hover,
.clients-item a:focus {
  border: 1px solid var(--link-color);
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-web {
  color: var(--link-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.footer-studio {
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.footer-title {
  color: var(--word-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03;
}
.footer-item {
  margin-top: 9px;
}

.footer-mail {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-phone {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03;
}
.footer-links {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-links h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
}

.footer-linkslist {
  display: flex;
  gap: 10px;
}

.footer-linksitem a {
  display: block;

  padding: 12px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.footer-linksitem a .icon-instagram,
.footer-linksitem a .icon-twitter,
.footer-linksitem a .icon-facebook,
.footer-linksitem a .icon-linkedin {
  fill: var(--primary-color);
}

.footer-linksitem a:hover,
.footer-linksitem a:focus {
  background-color: var(--link-color);
}
