:root {
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --text-color: #212121;
  --overview-color: #757575;
  --team-background-color: #fff;
  --footer-main-color: #2f303a;
  --button-color: #2196f3;
  --section-1-text-color: #fff;
  --background-footer-color: #2f303a;
  --gmail-phone-color: rgba(255, 255, 255, 0.6);
  --span-color: #000;
}
body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.header-logo {
  font-family: "Raleway";
  color: var(--accent-color);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
}
.header-span {
  color: var(--span-color);
}

.header-page {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
}
.header-link {
  color: var(--overview-color);

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
}
.header-page:hover {
  color: var(--accent-color);
}
.header-link:hover {
  color: var(--accent-color);
}
.hero-section {
  background-color: var(--footer-main-color);
}
.hero-title {
  color: var(--section-1-text-color);
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 2.64px;
  font-weight: 900;
}
.hero-button {
  background-color: var(--button-color);
  color: var(--section-1-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.96px;
}
.info-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.info-desc {
  color: var(--overview-color);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.work-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.names-text {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.names-roles {
  color: var(--overview-color);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.footer-studio {
  background-color: var(--footer-main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-span {
  color: var(--background-color);
}
.footer-place {
  color: var(--section-1-text-color);
}
.footer-gmail-phone {
  color: var(--gmail-phone-color);
}
