.icon-brand {
}
.icon-company {
}
.icon-company-2 {
}
.icon-company-3 {
}
.icon-envelope-hover {
  width: 16px;
  height: 12px;
  fill: black;
}
.icon-facebook {
}
.icon-foster-peters {
}
.icon-instagram {
}
.icon-instagram-logo {
}
.icon-smartphone {
}
.icon-twitter {
}
.icon-Ya-Co {
}
