.footer {
  background-color: $background-color;
  padding-bottom: 60px;

  &__container {
    text-align: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      @include flexbox();
    }

    @media screen and (min-width: 1200px) {
      @include flexbox();
      flex-wrap: nowrap;
    }
  }

  &__flex {
    text-align: center;
    padding-top: 60px;

    @media screen and (min-width: 768px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
      padding-bottom: 60px;
    }
  }

  &__web {
    color: $link-color;
    font-family: "Raleway";
    @extend %title-styles;
    margin-bottom: 20px;
    font-size: 24px;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__studio {
    color: $primary-color;
    font-family: "Raleway";
    @extend %title-styles;
    margin-bottom: 20px;
    font-size: 24px;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__list &__item {
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      @include flexbox($gap: 9px);
    }
  }

  &__address {
    color: $primary-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 8px;
    font-style: normal;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  &__mail,
  &__phone {
    text-decoration: none;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }

  &__links {
    

    @media screen and (min-width: 768px) {
     
      margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
      
      padding-top: 12px;
      margin-left: 70px;
    }
  }

  &__links h2 {
    padding-top: 60px;
    margin-bottom: 20px;
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__linkslist {
    @include flexbox($gap: 10px);
    margin-bottom: 60px;
  }

  &__linksitem a {
    display: block;
    padding: 12px 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__instagram,
  &__twitter,
  &__facebook,
  &__linkedin {
    width: 20px;
    height: 20px;
    fill: $text-color;
  }

  &__linksitem a &__instagram,
  &__linksitem a &__twitter,
  &__linksitem a &__facebook,
  &__linksitem a &__linkedin {
    fill: $primary-color;
  }

  &__linksitem a:hover,
  &__linksitem a:focus {
    background-color: $link-color;
  }

  &__form {
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      padding-top: 10px;
    }
  }

  &__box1 {
    display: inline;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__title2 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
    }
  }

  &__input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    padding-left: 16px;
    color: #fff;
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 50px;
      flex-shrink: 1;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      width: 358px;
      height: 50px;
      margin-right: 12px;
      padding-left: 16px;
    }

    &__input::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.48px;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 28px 10px 28px;
    @include flexbox($center-y: center);
    @extend %center-base;

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    fill: #fff;
  }
}
