.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background: $primary-color;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__web {
    color: $title-color;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-family: Raleway;
  }

  &__studio {
    color: $link-color;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
    text-decoration: none;
  }
  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      margin-left: 88px;
      margin-right: 96px;
      @include flexbox($gap: 47px);
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      // margin-right: 318px;
      @include flexbox($gap: 50px);
      align-items: center;
    }
  }

  &__item:hover &__link::after {
    color: $link-color;
    opacity: 1;
  }
  &__link {
    position: relative;
    text-decoration: none;
    color: $title-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    word-wrap: break-word;
    font-family: Roboto;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      left: 0;
      opacity: 0;
      background-color: $link-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      transition-property: $link-color;
    }
  }
  &__contacts {
    display: none;

    @media screen and (min-width: 768px) {
      @include flexbox($position-x: flex-end, $gap: 10px);
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      @include flexbox($position-x: flex-end, $gap: 30px);
      flex-direction: row;
    }

    &__contact {
      display: flex;
    }
  }

  &__mail {
    font-family: Roboto;
    color: $text-color;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: header-email;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      @include flexbox($center-y: center, $gap: 8px);
    }

    @media screen and (min-width: 1200px) {
      margin-left: 240px;
      font-size: 14px;
      @include flexbox($center-y: center, $gap: 10px);
    }

    &:hover {
      color: $link-color;
    }
  }

  &__phone {
    font-family: Roboto;
    color: $text-color;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: header-email;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      @include flexbox($center-y: center, $gap: 8px);
      margin-right: 10px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      @include flexbox($center-y: center, $gap: 10px);
    }

    &:hover {
      color: $link-color;
    }
  }
  &__phone:hover &__smartphone {
    fill: $link-color;
  }

  &__mail:hover &__email {
    fill: $link-color;
  }

  &__email {
    width: 16px;
    height: 12px;
    fill: $text-color;

    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }

    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &__smartphone {
    width: 10px;
    height: 16px;
    fill: $text-color;

    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }

    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }

  a {
    text-decoration: none;
  }

  nav {
    width: 100%;
    flex-grow: 3;
    height: 100%;
  }
  .nav_menu {
    list-style: none;
  }

  .mobile__menu {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .burger__close {
    background: none;
    margin-left: auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-right: 10px;
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .burger__closeicon {
    width: 25px;
    height: 25px;
    fill: #212121;
  }

  .burger__link {
    color: $title-color;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    font-family: Roboto;
  }

  .burger__link:hover {
    color: $link-color;
  }

  .nav_menu a {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  input[type="checkbox"],
  label {
    display: none;
  }

  .burger__roster {
    padding-top: 48px;
    margin-bottom: 220px;
    row-gap: 32px;
    display: flex;
    flex-direction: column;
  }

  .burger__container {
    display: flex;
  }

  .burger__contacts {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .burger__sociallist {
    display: flex;
    gap: 20px;
  }

  .burger__tel {
    color: $text-color;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
  }

  .burger__tel:hover {
    color: $link-color;
  }

  .burger__email {
    color: $text-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  .burger__email:hover {
    color: $link-color;
  }

  .burger__socialnetworks {
    color: $link-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }

  label {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 24px;
    height: 2.5px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -5px;
  }
  label span::after {
    top: 5px;
  }
  .nav_menu {
    display: none;
    height: 100vh;
    pointer-events: none;
  }
  input[type="checkbox"] {
    position: absolute;
    z-index: 4;
  }
  input[type="checkbox"]:checked ~ .nav_menu {
    display: flex;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .nav_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background: #fff;
    box-shadow: 0 12px 8px #ececec;
    position: fixed;
    padding-left: 40px;
  }
}

.wrapper {
  padding-top: 70px;
}
