.header {
  position: fixed;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;

  background: $primary-color;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);

  &__container {
    display: flex;
  }

  &__logo {
    color: $title-color;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 93px;
  }

  &__word {
    color: $link-color;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word;
  }
  &__list {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &__item:hover &__link::after {
    color: $link-color;
    opacity: 1;
  }
  &__link {
    position: relative;
    text-decoration: none;
    color: $title-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    word-wrap: break-word;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -36px;
      left: 0;
      opacity: 0;
      background-color: $link-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      transition-property: $link-color;
    }
  }
  &__contacts {
    margin-left: auto;
    display: flex;
    gap: 50px;
    align-items: center;
  }
  &__mail {
    text-decoration: none;
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;

    &:hover {
      color: $link-color;
    }
  }

  &__mail:hover &__email {
    fill: $link-color;
  }

  &__email {
    width: 16px;
    height: 12px;
    fill: $text-color;
    margin-right: 10px;
  }

  &__phone {
    text-decoration: none;
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;

    &:hover {
      color: $link-color;
    }
  }
  &__phone:hover &__smartphone {
    fill: $link-color;
  }

  &__smartphone {
    width: 10px;
    height: 16px;
    fill: $text-color;
    margin-right: 10px;
  }
}
