.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__container h2 {
    margin-bottom: 50px;
    color: $title-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }

  &__list {
    @include flexbox($gap: 30px);
  }

  &__item a {
    border-radius: 4px;
    border: 1px solid $text-color;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    display: block;
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $text-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
  }

  &__item a:hover &__icon,
  &__item a:hover &__icon,
  &__item a:hover &__icon,
  &__item a:hover &__icon,
  &__item a:hover &__icon,
  &__item a:hover &__icon,
  &__item a:focus &__icon,
  &__item a:focus &__icon,
  &__item a:focus &__icon,
  &__item a:focus &__icon,
  &__item a:focus &__icon,
  &__item a:focus &__icon {
    fill: $link-color;
  }

  &__item a:hover,
  &__item a:focus {
    border: 1px solid $link-color;
  }
}
