.is-hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.mobile-menu {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 48px;

  @media screen and (min-width: 786px) {
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
  }

  &__close {
    height: 30px;
    width: 30px;
    right: 8px;
    top: 8px;
    border: 1px #000000 solid;
    border-radius: 20px;
    background-color: $primary-color;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close__icon {
    height: 18px;
    width: 18px;
    fill: $title-color;

    &:hover {
      fill: $link-color;
    }
  }

  &__list,
  &__list2 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__list {
    margin-bottom: 280px;

    @media screen and (min-width: 786px) {
      margin-bottom: 0px;
    }
  }

  &__page {
    color: $title-color;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;

    &:hover {
      color: $link-color;
    }
  }

  &__tel,
  &__email {
    color: $text-color;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;

    &:hover {
      font-size: 34px;
      letter-spacing: 0.68px;
      color: $link-color;
    }
  }

  &__list3 {
    display: flex;
    margin-top: 64px;
    column-gap: 10px;
    flex-wrap: wrap;
  }

  &__link__container {
    display: flex;
    column-gap: 10px;
  }

  &__link {
    color: $link-color;
    font-size: 18px;
  }

  &__line {
    width: 1px;
    height: 22px;
    background-color: $text-color;
  }
}
