.specialization {
  display: none;
  background-color: #ffffff;

  @media screen and (min-width: 1200px) {
    display: inline;

    &__container {
      @include flexbox($gap: 100px);
      @include flexbox($center-y: center);
    }

    &__title {
      color: $title-color;
      text-align: center;
      font-size: 36px;
      font-family: Roboto;
      font-weight: 700;
    }

    &__list {
      @include flexbox($gap: 30px);
      margin-top: 50px;
    }

    &__item {
      position: relative;
      font-family: Roboto;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.42px;
      word-wrap: break-word;
    }

    &__div {
      background: rgba(47, 48, 58, 0.5);
      position: absolute;
      bottom: 0px;
      width: 370px;
      padding-top: 27px;
      padding-bottom: 27px;
      background-size: cover;
    }

    &__item p {
      color: $primary-color;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }
  }
}
