.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;

  &__title {
    color: $title-color;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__color {
    background-color: #ffffff;
  }

  &__img {
    margin-bottom: 30px;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__name {
    color: $title-color;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03;
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03;
    text-align: center;
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 16px;
    gap: 10px;
  }

  &__items a {
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    display: block;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    border-radius: 50%;
  }

  &__items a:hover &__instagram,
  &__items a:hover &__twitter,
  &__items a:hover &__facebook,
  &__items a:hover &__linkedin,
  &__items a:focus &__instagram,
  &__items a:focus &__twitter,
  &__items a:focus &__facebook,
  &__items a:focus &__linkedin {
    fill: $primary-color;
  }
  &__items a:hover,
  &__items a:focus {
    background-color: $link-color;
    border-radius: 50%;
  }

  &__instagram,
  &__twitter,
  &__facebook,
  &__linkedin {
    width: 20px;
    height: 20px;
    fill: $text-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
  }
}
