body {
  font-family: Raleway, Roboto, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  @extend %center-base;

  @media screen and (min-width: 320px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
